body {
  background-color: #f2f2f2;
}

.container {
  margin: 40px auto;
  max-width: 600px;
  background-color: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #222831;
  font-size: 40px;
  text-align: center;
}

select {
  padding: 5px;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: 1.5px solid;
}

.city {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px dashed grey;
}

.city:last-child {
  border-bottom: none;
}

h2 {
  font-size: 30px;
  margin: 0;
  color: #ef4339;
}

.date {
  color: black;
  margin-top: 8px;
  opacity: 0.9;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

small {
  vertical-align: middle;
  font-size: 15px;
}

footer {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.big .container {
  padding-bottom: 50px;
}

.big .city {
  border-bottom: none;
}
